body, #renderCanvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#ui-container {
    position: absolute;
    top: 0; /* Change from bottom: 0; to top: 0; */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row; /* Add this to align items from left to right */
    justify-content: space-around;
}

#ui-container > div {
    margin: 5px;
}

#resources span {
    display: inline-block; /* Change from display: block; to display: inline-block; */
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
}

#building-container {
    position: absolute;
    top: 50%;
    right: 0;
    height: 100%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row; /* Add this to align items from left to right */
    justify-content: space-around;
}

#buildings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 100%;
    height: 10%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
